h1 {
	margin: 10px 0 0 0;
	font-size: 40px;
}

h2 {
	margin: 0;
}

p {
	margin: 10px 0 0 0;
}

a {
	color: black;
}

ul {
	margin:0;
	padding:0;
	list-style-position: inside;
}

.container {
	box-sizing: border-box;
	min-width: 720px;
	max-width:1280px;
	margin: 0 auto;
	padding: 10px 20px 20px;
}

.plain {
	font-family: neuzeit;
	letter-spacing: 2px;
}

.section {
	border-bottom: 1px solid black;
	position: relative;
}
.sub-section {
	padding-bottom: 14px;
	margin: 0 0 16px 0;
	//border-bottom: 1px solid black;
}

.row {
	.col-1 {
		float: left;
		width: 33.33%;
	}

	.col-2 {
		float: left;
		width: 66.66%;
	}
}
.row::after { 
	content: "";
	display: block; 
	clear: both;
}

.title {
	img {
		position: absolute;
		top: 0;
		right: 0;
		max-height: 71px;
	}
	//img {
	//	position: fixed;
	//	top: 20px;
	//	right: 20px;
	//	max-height: 71px;
	//}
}

.contact {
}

.about {
}

.profiles {
}

.work-container, .highlights-container {
	border: 1px solid black;
	padding: 10px;

	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	h2 {
		font-size: 32px;
		padding: 20px 0 10px 0;
		border-bottom: 1px solid black;
	}

	h4 {
		width: 33.33%;
		margin: 0 0 8px 0;
		font-size: 18px;
	}
	
	h5 {
		margin: 0 20px 0 0;
		font-size: 14px;
	}
	
	ul {
		 list-style: none;
	}

	.plain {
		margin: 6px 0 0 0;
		font-size: 12px;
		line-height: 12px;
	}

	.work, .highlights {
		.row {
			margin: 40px 0 0 0;
		}

		.col-1 {
			word-wrap: break-word;
			p {
				margin-right:20px;
			}
		}

		.col-2 {
			font-size: 14px;
		}
	}
}

.education {
	margin: 40px 0 20px 0;
	
	.plain {
		font-size: 12px;
	}
}

.highlights-container {
	//border: none;
	//padding: 20px 0 0 0;
}

